body{
    background: #ffffff;
    font-family: 'Roboto', sans-serif;
    margin: auto;
    padding: 0;
    max-width: 600px;
}

p {
    line-height: 1.6;
}

article + article {
    margin-top: 20px;
    border-top: 1px solid #000000;
    padding-top: 20px;


}
